node-red/.flows.json.backup
[{"id":"f1cc9ad5.74d2c8","type":"tab","label":"Energy_Monitor_2","disabled":false,"info":""},{"id":"71cf429f.b9eecc","type":"server","z":"","name":"Home Assistant"},{"id":"5607d999.92d9b8","type":"mqtt-broker","z":"","name":"MQTT Local","broker":"192.168.0.13","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52b7ccca.15f5d4","type":"MySQLdatabase","z":"","host":"192.168.0.13","port":"3306","db":"energy","tz":""},{"id":"82a6c59.ba41938","type":"mqtt in","z":"f1cc9ad5.74d2c8","name":"","topic":"001/cambria/energy","qos":"2","datatype":"json","broker":"5607d999.92d9b8","x":120,"y":220,"wires":[["10cb9c1d.4b48b4"]]},{"id":"35412595.9fca6a","type":"mysql","z":"f1cc9ad5.74d2c8","mydb":"52b7ccca.15f5d4","name":"EnergyData","x":770,"y":360,"wires":[[]]},{"id":"10cb9c1d.4b48b4","type":"function","z":"f1cc9ad5.74d2c8","name":"","func":"var strV1 = msg.payload.V1;\nvar strV2 = msg.payload.V2;\nvar strI1 = msg.payload.I1;\nvar strI2 = msg.payload.I2;\nvar strAP = msg.payload.AP;\nvar strPF = msg.payload.PF;\nvar strf = msg.payload.f;\nvar strtw = msg.payload.tw;\n\nmsg.topic = \"INSERT INTO `energy`.`data`(`timestamp`,`V1`,`V2`,`I1`,`I2`,`AP`,`PF`,`f`,`tw`) VALUES(CURRENT_TIMESTAMP,\"+ strV1+\",\"+ strV2+ \",\"+ strI1+\",\"+ strI2+\",\"+ strAP+\",\"+ strPF+\",\"+ strf+\",\"+ strtw  +\")\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":460,"wires":[["7d81a2fd.66d96c","35412595.9fca6a"]]},{"id":"86a21985.f482b8","type":"inject","z":"f1cc9ad5.74d2c8","name":"","topic":"","payload":"{\"V1\":234.25,\"V2\":234.19,\"I1\":0.535,\"I2\":9.286,\"totI\":9.821,\"AP\":2260.983,\"PF\":0.982,\"t\":20,\"f\":60,\"tw\":2300.012}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["10cb9c1d.4b48b4"]]},{"id":"7d81a2fd.66d96c","type":"debug","z":"f1cc9ad5.74d2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":560,"wires":[]}]