node-red/.flows.json.backup
[{"id":"f1cc9ad5.74d2c8","type":"tab","label":"Energy_Monitor_2","disabled":false,"info":""},{"id":"9b8d0815.3aebc8","type":"tab","label":"Insert Device on off events","disabled":false,"info":""},{"id":"1fa8922f.1f2aee","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ede7990d.eedbf8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"71cf429f.b9eecc","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5607d999.92d9b8","type":"mqtt-broker","z":"","name":"MQTT RPi","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c9471105.8ed89","type":"MySQLdatabase","z":"","host":"192.168.0.13","port":"3306","db":"energy","tz":""},{"id":"ff750129.93988","type":"MySQLdatabase","z":"","host":"192.168.0.103","port":"3306","db":"energy","tz":""},{"id":"82a6c59.ba41938","type":"mqtt in","z":"f1cc9ad5.74d2c8","name":"","topic":"001/cambria/energy","qos":"2","datatype":"json","broker":"5607d999.92d9b8","x":120,"y":220,"wires":[["3343cdda.5e1bd2"]]},{"id":"72482c5c.52a3a4","type":"debug","z":"9b8d0815.3aebc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":620,"wires":[]},{"id":"1507503d.3f2e","type":"function","z":"9b8d0815.3aebc8","name":"Device State - On/Off SQL","func":"msg.topic = \"INSERT INTO `energy`.`device_state`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[[]]},{"id":"b5c7e283.171d","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Lights","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on,off","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":150,"y":180,"wires":[["26f50b56.d27024"],[]]},{"id":"5449c681.7cf528","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Fan","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fan","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":320,"wires":[["26f50b56.d27024"]]},{"id":"173a1175.6c10df","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat Low","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_low","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":360,"wires":[["26f50b56.d27024"]]},{"id":"8fabc21c.7255f","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat High","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_high","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":400,"wires":[["26f50b56.d27024"]]},{"id":"9c89c208.94305","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Cool","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cool","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":440,"wires":[["26f50b56.d27024"]]},{"id":"26f50b56.d27024","type":"switch","z":"9b8d0815.3aebc8","name":"Switch by State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":180,"wires":[["1507503d.3f2e"],["1507503d.3f2e"],[]]},{"id":"75f3de86.98221","type":"function","z":"9b8d0815.3aebc8","name":"All Devices","func":"msg.topic = \"INSERT INTO `energy`.`device_state_all`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[[]]},{"id":"8520866a.001218","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"All","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"*","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"includes","outputs":1,"output_only_on_state_change":true,"x":530,"y":320,"wires":[[]]},{"id":"3343cdda.5e1bd2","type":"function","z":"f1cc9ad5.74d2c8","name":"","func":"\n\nV1 = msg.payload.V1 ;\nV2 = msg.payload.V2; //flow.get('V2') ;\nCT1 = msg.payload.CT1;// flow.get('CT1') ;\nCT2 = msg.payload.CT2;//flow.get('CT2') ;\nfreq = msg.payload.freq;//flow.get('freq') ;\nPF1 = msg.payload.PF1;//flow.get('PF1') ;\nPF2 = msg.payload.PF2;//flow.get('PF2') ;\nW1 = msg.payload.W1;//flow.get('W1') ;\nW2 = msg.payload.W2;//flow.get('W2') ;\nFundPow = msg.payload.FundPow;//flow.get('FundPow') ;\nHarPow = msg.payload.HarPow;//flow.get('HarPow') ;\nReactPow1 = msg.payload.ReactPow1;//flow.get('ReactPow1') ;\nReactPow2 = msg.payload.ReactPow2;//flow.get('ReactPow2') ;\nAppPow1 = msg.payload.AppPow1;//flow.get('AppPow1') ;\nAppPow2 = msg.payload.AppPow2;//flow.get('AppPow2') ;\nPhaseA = msg.payload.PhaseA;//flow.get('PhaseA') ;\nPhaseC = msg.payload.PhaseC;//flow.get('PhaseC') ;\n\nqry = \"INSERT INTO `energy`.`energy_data`(`V1`,`V2`,`CT1`,`CT2`,`freq`,`PF1`,`PF2`,`W1`,`W2`,`FundPow`,`HarPow`,`ReactPow1`,`ReactPow2`,`AppPow1`,`AppPow2`,`PhaseA`,`PhaseC` ) VALUES(\"\nqry = qry + V1 +\",\"+  V2 +\",\"+ CT1 +\",\"+ CT2 +\",\"+ freq +\",\"+ PF1 +\",\"+ PF2 +\",\"+ W1 +\",\"+ W2 +\",\"+ FundPow +\",\"+ HarPow +\",\"+ ReactPow1 +\",\"+ ReactPow2 +\",\"+ AppPow1 +\",\"+ AppPow2 +\",\"+ PhaseA +\",\"+ PhaseC +\")\";\n\nmsg.topic = qry;\nmsg.payload = \"\";\nreturn msg;\n\n ","outputs":1,"noerr":0,"x":350,"y":240,"wires":[[]]},{"id":"fa86c042.56fde","type":"mysql","z":"f1cc9ad5.74d2c8","mydb":"c9471105.8ed89","name":"Energy-HassServerA","x":580,"y":240,"wires":[[]]},{"id":"88b48478.151618","type":"debug","z":"f1cc9ad5.74d2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":570,"y":500,"wires":[]},{"id":"aec14748.7527e8","type":"mysql","z":"f1cc9ad5.74d2c8","mydb":"ff750129.93988","name":"Energy-MAC","x":590,"y":340,"wires":[[]]}]