node-red/flows.json
[{"id":"f1cc9ad5.74d2c8","type":"tab","label":"Energy_Monitor_2","disabled":false,"info":""},{"id":"dd531c6e.99ba6","type":"tab","label":"emon-Save-to-MySQL","disabled":false,"info":""},{"id":"9b8d0815.3aebc8","type":"tab","label":"Insert Device on off events","disabled":false,"info":""},{"id":"71cf429f.b9eecc","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5607d999.92d9b8","type":"mqtt-broker","z":"","name":"MQTT Local","broker":"192.168.0.13","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52b7ccca.15f5d4","type":"MySQLdatabase","z":"","host":"192.168.0.13","port":"3306","db":"energy","tz":""},{"id":"82a6c59.ba41938","type":"mqtt in","z":"f1cc9ad5.74d2c8","name":"","topic":"001/cambria/energy","qos":"2","datatype":"json","broker":"5607d999.92d9b8","x":120,"y":220,"wires":[["10cb9c1d.4b48b4"]]},{"id":"35412595.9fca6a","type":"mysql","z":"f1cc9ad5.74d2c8","mydb":"52b7ccca.15f5d4","name":"EnergyData","x":570,"y":340,"wires":[[]]},{"id":"10cb9c1d.4b48b4","type":"function","z":"f1cc9ad5.74d2c8","name":"","func":"var strV1 = msg.payload.V1;\nvar strV2 = msg.payload.V2;\nvar strI1 = msg.payload.I1;\nvar strI2 = msg.payload.I2;\nvar strAP = msg.payload.AP;\nvar strPF = msg.payload.PF;\nvar strf = msg.payload.f;\nvar strtw = msg.payload.tw;\n\nmsg.topic = \"INSERT INTO `energy`.`data`(`V1`,`V2`,`I1`,`I2`,`AP`,`PF`,`f`,`tw`) VALUES(\"+ strV1+\",\"+ strV2+ \",\"+ strI1+\",\"+ strI2+\",\"+ strAP+\",\"+ strPF+\",\"+ strf+\",\"+ strtw  +\")\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":340,"wires":[["7d81a2fd.66d96c","35412595.9fca6a"]]},{"id":"86a21985.f482b8","type":"inject","z":"f1cc9ad5.74d2c8","name":"","topic":"","payload":"{\"V1\":234.25,\"V2\":234.19,\"I1\":0.535,\"I2\":9.286,\"totI\":9.821,\"AP\":2260.983,\"PF\":0.982,\"t\":20,\"f\":60,\"tw\":2300.012}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["10cb9c1d.4b48b4"]]},{"id":"7d81a2fd.66d96c","type":"debug","z":"f1cc9ad5.74d2c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":560,"wires":[]},{"id":"5bffcaf4.0d45f4","type":"function","z":"dd531c6e.99ba6","name":"V1","func":"var count=flow.get('V1') || 0;\nflow.set('V1',msg.payload);","outputs":1,"noerr":0,"x":330,"y":60,"wires":[[]]},{"id":"e8f44ae8.6913c8","type":"inject","z":"dd531c6e.99ba6","name":"Read","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":"2","x":190,"y":500,"wires":[["b8aba20d.f1543"]]},{"id":"b8aba20d.f1543","type":"function","z":"dd531c6e.99ba6","name":"Store","func":"msg.topic = \"INSERT INTO `energy`.`emon_data`(`V1`,`V2`,`CT1`,`CT2`,`totl`,`PF`,`freq`,`W`,`wh` ) VALUES(\"+ flow.get('V1') +\",\"+  flow.get('V2') + \",\"+  flow.get('CT1') +\",\"+  flow.get('CT2') +\",\"+  flow.get('totl') +\",\"+  flow.get('PF') +\",\"+  flow.get('freq') +\",\" +  flow.get('W') + \",\"  + flow.get('wh')  +\")\";\nmsg.payload = \"\";\nreturn msg;\n","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["c2271c46.cf605","9498fbe0.0cb908"]]},{"id":"aee8d63e.8eac68","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/V1","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":110,"y":60,"wires":[["5bffcaf4.0d45f4"]]},{"id":"c10c8257.13997","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/V2","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":110,"y":100,"wires":[["2c750404.89854c"]]},{"id":"41bed88f.2d03a8","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/CT1","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":100,"y":140,"wires":[["e65f6f33.e4df1"]]},{"id":"2c750404.89854c","type":"function","z":"dd531c6e.99ba6","name":"V2","func":"var count=flow.get('V2') || 0;\nflow.set('V2',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":100,"wires":[[]]},{"id":"e65f6f33.e4df1","type":"function","z":"dd531c6e.99ba6","name":"CT1","func":"var count=flow.get('CT1') || 0;\nflow.set('CT1',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":140,"wires":[[]]},{"id":"61866247.e00acc","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/CT2","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":100,"y":180,"wires":[["51bdc385.cd20cc"]]},{"id":"51bdc385.cd20cc","type":"function","z":"dd531c6e.99ba6","name":"CT2","func":"var count=flow.get('CT2') || 0;\nflow.set('CT2',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":180,"wires":[[]]},{"id":"3860c6f4.4aaa7a","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/totI","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":110,"y":220,"wires":[["a72540d5.f6ac2"]]},{"id":"4e5acf7f.e8edf","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/W","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":110,"y":260,"wires":[["29fe9da3.b531d2","ea9de5e7.b3cc78"]]},{"id":"66e86a22.3dc8d4","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/PF","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":110,"y":300,"wires":[["53dbd18.c71043"]]},{"id":"a72540d5.f6ac2","type":"function","z":"dd531c6e.99ba6","name":"totl","func":"var count=flow.get('totl') || 0;\nflow.set('totl',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":220,"wires":[[]]},{"id":"29fe9da3.b531d2","type":"function","z":"dd531c6e.99ba6","name":"W","func":"var count=flow.get('W') || 0;\nflow.set('W',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":260,"wires":[[]]},{"id":"53dbd18.c71043","type":"function","z":"dd531c6e.99ba6","name":"PF","func":"var count=flow.get('PF') || 0;\nflow.set('PF',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":300,"wires":[[]]},{"id":"85d41b11.df30c8","type":"mqtt in","z":"dd531c6e.99ba6","name":"","topic":"001/emon/freq","qos":"2","datatype":"utf8","broker":"5607d999.92d9b8","x":110,"y":340,"wires":[["221ee53e.b3ecea"]]},{"id":"221ee53e.b3ecea","type":"function","z":"dd531c6e.99ba6","name":"freq","func":"var count=flow.get('freq') || 0;\nflow.set('freq',msg.payload);\n","outputs":1,"noerr":0,"x":330,"y":340,"wires":[[]]},{"id":"9498fbe0.0cb908","type":"mysql","z":"dd531c6e.99ba6","mydb":"52b7ccca.15f5d4","name":"EnergyData","x":550,"y":500,"wires":[[]]},{"id":"ea9de5e7.b3cc78","type":"watt2kwh","z":"dd531c6e.99ba6","format":"wh","maximum":"60","maximumunit":"mins","name":"","x":320,"y":420,"wires":[["54f0b643.e14848"]]},{"id":"c2271c46.cf605","type":"debug","z":"dd531c6e.99ba6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":340,"wires":[]},{"id":"54f0b643.e14848","type":"function","z":"dd531c6e.99ba6","name":"wh","func":"var count=flow.get('wh') || 0;\nflow.set('wh',msg.payload);\n","outputs":1,"noerr":0,"x":490,"y":420,"wires":[[]]},{"id":"72482c5c.52a3a4","type":"debug","z":"9b8d0815.3aebc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":490,"y":40,"wires":[]},{"id":"1507503d.3f2e","type":"function","z":"9b8d0815.3aebc8","name":"SQL Insert","func":"msg.topic = \"INSERT INTO `energy`.`device_state`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["1b4cf034.bf075"]]},{"id":"1b4cf034.bf075","type":"mysql","z":"9b8d0815.3aebc8","mydb":"52b7ccca.15f5d4","name":"EnergyData","x":690,"y":240,"wires":[[]]},{"id":"b5c7e283.171d","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Lights","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":150,"y":240,"wires":[["1507503d.3f2e"]]},{"id":"5449c681.7cf528","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Fan","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fan","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":320,"wires":[["1507503d.3f2e"]]},{"id":"173a1175.6c10df","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat Low","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_low","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":360,"wires":[["1507503d.3f2e"]]},{"id":"8fabc21c.7255f","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat High","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_high","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":400,"wires":[["1507503d.3f2e"]]},{"id":"9c89c208.94305","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Cool","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cool","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":440,"wires":[["1507503d.3f2e"]]},{"id":"f8d43e75.e756b","type":"function","z":"9b8d0815.3aebc8","name":"SQL Insert","func":"msg.topic = \"INSERT INTO `energy`.`device_state_all`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["1b4cf034.bf075"]]}]