node-red/flows.json
[{"id":"9b8d0815.3aebc8","type":"tab","label":"Insert Device on off events","disabled":false,"info":""},{"id":"71cf429f.b9eecc","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5607d999.92d9b8","type":"mqtt-broker","z":"","name":"MQTT RPi","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c9471105.8ed89","type":"MySQLdatabase","z":"","host":"192.168.0.13","port":"3306","db":"energy","tz":""},{"id":"ff750129.93988","type":"MySQLdatabase","z":"","host":"192.168.0.103","port":"3306","db":"energy","tz":""},{"id":"72482c5c.52a3a4","type":"debug","z":"9b8d0815.3aebc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":620,"wires":[]},{"id":"1507503d.3f2e","type":"function","z":"9b8d0815.3aebc8","name":"Device State - On/Off SQL","func":"msg.topic = \"INSERT INTO `energy`.`device_state`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[[]]},{"id":"b5c7e283.171d","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Lights","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on,off","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":150,"y":180,"wires":[["26f50b56.d27024"],[]]},{"id":"5449c681.7cf528","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Fan","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fan","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":320,"wires":[["26f50b56.d27024"]]},{"id":"173a1175.6c10df","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat Low","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_low","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":360,"wires":[["26f50b56.d27024"]]},{"id":"8fabc21c.7255f","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat High","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_high","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":400,"wires":[["26f50b56.d27024"]]},{"id":"9c89c208.94305","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Cool","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cool","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":440,"wires":[["26f50b56.d27024"]]},{"id":"26f50b56.d27024","type":"switch","z":"9b8d0815.3aebc8","name":"Switch by State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":180,"wires":[["1507503d.3f2e"],["1507503d.3f2e"],[]]},{"id":"75f3de86.98221","type":"function","z":"9b8d0815.3aebc8","name":"All Devices","func":"msg.topic = \"INSERT INTO `energy`.`device_state_all`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":320,"wires":[[]]},{"id":"8520866a.001218","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"All","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"*","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"includes","outputs":1,"output_only_on_state_change":true,"x":530,"y":320,"wires":[[]]}]