node-red/flows.json
[{"id":"9b8d0815.3aebc8","type":"tab","label":"Insert Device on off events","disabled":false,"info":""},{"id":"d832fdec.dea82","type":"tab","label":"Log_energy","disabled":false,"info":""},{"id":"6b4e0167.96551","type":"tab","label":"Save Sensor Data","disabled":false,"info":""},{"id":"71cf429f.b9eecc","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"5607d999.92d9b8","type":"mqtt-broker","z":"","name":"MQTT Localhost","broker":"192.168.0.13","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff750129.93988","type":"MySQLdatabase","z":"","host":"192.168.0.103","port":"3306","db":"data","tz":"'-08:00'"},{"id":"3841bfd4.dabbc","type":"mqtt-broker","z":"","name":"MQTT RPi","broker":"192.168.0.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"99e033ce.00cd","type":"server","z":"","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"d13afc47.58343","type":"MySQLdatabase","z":"","host":"192.168.0.13","port":"3306","db":"data","tz":""},{"id":"1507503d.3f2e","type":"function","z":"9b8d0815.3aebc8","name":"Device State - On/Off SQL","func":"msg.topic = \"INSERT INTO `energy`.`device_state`(`device_id`,`state`) VALUES( '\"+  msg.topic +\"','\"+ msg.payload+ \"')\";\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":160,"wires":[[]]},{"id":"b5c7e283.171d","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Lights","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"on,off","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"x":150,"y":180,"wires":[["26f50b56.d27024"],[]]},{"id":"5449c681.7cf528","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Fan","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.fan","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":320,"wires":[["26f50b56.d27024"]]},{"id":"173a1175.6c10df","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat Low","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_low","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":360,"wires":[["26f50b56.d27024"]]},{"id":"8fabc21c.7255f","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Heat High","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.heat_high","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":180,"y":400,"wires":[["26f50b56.d27024"]]},{"id":"9c89c208.94305","type":"server-state-changed","z":"9b8d0815.3aebc8","name":"Hvac Cool","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cool","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":160,"y":440,"wires":[["26f50b56.d27024"]]},{"id":"26f50b56.d27024","type":"switch","z":"9b8d0815.3aebc8","name":"Switch by State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"unavailable","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":520,"y":180,"wires":[["1507503d.3f2e"],["1507503d.3f2e"],[]]},{"id":"d03cac7.e92ad5","type":"mqtt in","z":"d832fdec.dea82","name":"192.168.0.13","topic":"001/cambria/energy","qos":"2","datatype":"json","broker":"5607d999.92d9b8","x":90,"y":200,"wires":[[]]},{"id":"bcec6f94.27e69","type":"function","z":"d832fdec.dea82","name":"","func":"\n\nV1 = msg.payload.V1 ;\nV2 = msg.payload.V2; //flow.get('V2') ;\nCT1 = msg.payload.CT1;// flow.get('CT1') ;\nCT2 = msg.payload.CT2;//flow.get('CT2') ;\n//freq = msg.payload.freq;//flow.get('freq') ;\nfreq = 0 ;\nPF1 = msg.payload.PF1;//flow.get('PF1') ;\nPF2 = msg.payload.PF2;//flow.get('PF2') ;\nW1 = msg.payload.W1;//flow.get('W1') ;\nW2 = msg.payload.W2;//flow.get('W2') ;\nFundPow = msg.payload.FundPow;//flow.get('FundPow') ;\nHarPow = msg.payload.HarPow;//flow.get('HarPow') ;\nReactPow1 = msg.payload.ReactPow1;//flow.get('ReactPow1') ;\nReactPow2 = msg.payload.ReactPow2;//flow.get('ReactPow2') ;\nAppPow1 = msg.payload.AppPow1;//flow.get('AppPow1') ;\nAppPow2 = msg.payload.AppPow2;//flow.get('AppPow2') ;\n//PhaseA = msg.payload.PhaseA;//flow.get('PhaseA') ;\n//PhaseC = msg.payload.PhaseC;//flow.get('PhaseC') ;\nPhaseA = 0;\nPhaseC = 0;\n\nqry = \"INSERT INTO `energy`.`energy_data`(`V1`,`V2`,`CT1`,`CT2`,`freq`,`PF1`,`PF2`,`W1`,`W2`,`FundPow`,`HarPow`,`ReactPow1`,`ReactPow2`,`AppPow1`,`AppPow2`,`PhaseA`,`PhaseC` ) VALUES(\"\nqry = qry + V1 +\",\"+  V2 +\",\"+ CT1 +\",\"+ CT2 +\",\"+ freq +\",\"+ PF1 +\",\"+ PF2 +\",\"+ W1 +\",\"+ W2 +\",\"+ FundPow +\",\"+ HarPow +\",\"+ ReactPow1 +\",\"+ ReactPow2 +\",\"+ AppPow1 +\",\"+ AppPow2 +\",\"+ PhaseA +\",\"+ PhaseC +\")\";\n\nmsg.topic = qry;\nmsg.payload = \"\";\nreturn msg;\n\n ","outputs":1,"noerr":0,"x":310,"y":200,"wires":[["f7d167dc.242978"]]},{"id":"495f3b1c.1421f4","type":"debug","z":"d832fdec.dea82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":460,"wires":[]},{"id":"873930e5.8d041","type":"mysql","z":"d832fdec.dea82","mydb":"ff750129.93988","name":"Energy-HassServer","x":530,"y":360,"wires":[[]]},{"id":"f7d167dc.242978","type":"mysql","z":"d832fdec.dea82","mydb":"ff750129.93988","name":"Energy-MAC","x":510,"y":200,"wires":[["6bbe1df.03267e4"]]},{"id":"9c811fae.658b","type":"mqtt in","z":"d832fdec.dea82","name":"192.168.0.100","topic":"001/cambria/energy","qos":"2","datatype":"json","broker":"3841bfd4.dabbc","x":90,"y":320,"wires":[["bcec6f94.27e69"]]},{"id":"6bbe1df.03267e4","type":"debug","z":"d832fdec.dea82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":760,"y":180,"wires":[]},{"id":"9601a1be.20933","type":"server-state-changed","z":"6b4e0167.96551","name":"","server":"71cf429f.b9eecc","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":140,"y":220,"wires":[["55a9da05.b40d44"]]},{"id":"d0cee730.1a63e8","type":"debug","z":"6b4e0167.96551","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":940,"y":220,"wires":[]},{"id":"6efa9a50.fd0484","type":"function","z":"6b4e0167.96551","name":"Temperature","func":"Value = msg.payload;\nSensorID = msg.topic;\n\nqry = \"INSERT INTO `data`.`sensor`(`type`,`value`,`sensor_id`) VALUES(\";\nqry = qry  + \"'Temperature'\" + \",\"+ Value + \",'\"+ SensorID + \"');\";\n\n\nmsg.topic = qry;\nmsg.payload = \"\";\nreturn msg;\n\n ","outputs":1,"noerr":0,"x":530,"y":180,"wires":[["9fb1c843.6c22a8"]]},{"id":"9fb1c843.6c22a8","type":"mysql","z":"6b4e0167.96551","mydb":"d13afc47.58343","name":"13","x":710,"y":220,"wires":[["d0cee730.1a63e8"]]},{"id":"c89ce273.e6f4e","type":"inject","z":"6b4e0167.96551","name":"Clear Sensor table","topic":"truncate table sensor;","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":380,"wires":[["9fb1c843.6c22a8"]]},{"id":"55a9da05.b40d44","type":"switch","z":"6b4e0167.96551","name":"Temperature","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"temperature","vt":"str"},{"t":"cont","v":"pressure","vt":"str"},{"t":"cont","v":"humidity","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":220,"wires":[["6efa9a50.fd0484"],["d6e5a097.cac73"],["d4c042af.44331"]]},{"id":"d6e5a097.cac73","type":"function","z":"6b4e0167.96551","name":"Pressure","func":"Value = msg.payload;\nSensorID = msg.topic;\n\nqry = \"INSERT INTO `data`.`sensor`(`type`,`value`,`sensor_id`) VALUES(\";\nqry = qry  + \"'Pressure'\" + \",\"+ Value + \",'\"+ SensorID + \"');\";\n\n\nmsg.topic = qry;\nmsg.payload = \"\";\nreturn msg;\n\n ","outputs":1,"noerr":0,"x":520,"y":220,"wires":[["9fb1c843.6c22a8"]]},{"id":"d4c042af.44331","type":"function","z":"6b4e0167.96551","name":"Humidity","func":"Value = msg.payload;\nSensorID = msg.topic;\n\nqry = \"INSERT INTO `data`.`sensor`(`type`,`value`,`sensor_id`) VALUES(\";\nqry = qry  + \"'Humidity'\" + \",\"+ Value + \",'\"+ SensorID + \"');\";\n\n\nmsg.topic = qry;\nmsg.payload = \"\";\nreturn msg;\n\n ","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["9fb1c843.6c22a8"]]},{"id":"a8114354.c12f5","type":"file","z":"6b4e0167.96551","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":560,"y":580,"wires":[[]]},{"id":"5aa7a04d.92984","type":"inject","z":"6b4e0167.96551","name":"Create Sensor table","topic":"CREATE TABLE `sensor` (   `id` int(11) NOT NULL AUTO_INCREMENT,   `type` varchar(45) DEFAULT NULL,   `system_datetime` datetime NOT NULL DEFAULT current_timestamp(),   `value` float DEFAULT NULL,   `sensor_id` varchar(45) DEFAULT NULL,   `sensor_name` varchar(45) DEFAULT NULL,   `device_timestamp` timestamp NULL DEFAULT NULL,   PRIMARY KEY (`id`) ) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4;","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":480,"wires":[["9fb1c843.6c22a8"]]},{"id":"bb12bf07.7ffcc","type":"inject","z":"6b4e0167.96551","name":"Create Database","topic":"CREATE database data;","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":540,"wires":[["9fb1c843.6c22a8"]]}]